<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
            I have around 5 years of experience as a software automation engineer. I have worked
            at both small startups and large organizations. As a proficient full-stack
            automation engineer, my expertise is in building scalable automation framework, setting up of the automation cycle execution with CI/CD integration.
        </p>
        <p>
           I love to make life easier and faster by automating the processes thus making the testing cycle much efficient.
           While hard engineering problems are often intrinsically fun to tackle,
           I'm most attracted to solving real problems which would add value both in terms of efficiency and quality thus justifying ROI.
           I'm looking for a senior contributor role where I can take on collaborative
           responsibilites, guide a team and gain experience with
           architecture and project management.
        </p>
      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Highlights</h3>
		    <ul>
    			<li>
            Developed chat based automation on Amazon Alexa platform for customer intents which decreased execution cycle time from 2 days to 3 hours with much higher effciency and reporting.
    			</li>
          <li>
            Created cross browser and platform automation framework from scratch using BDD methodologies, integrating cloud deployment and execution of automation framework.
          <li>
            Developed application for intelligent collection of DOM elements, detection of DOM changes and making changes to automation scripts thus saving a lot of development and maintenance efforts for automation team.  
    			<li>
            Developed framework for networking devices integrating Ixia solution for automation of IoT devices in Smart Home setup, execution and management of automation environment which decreased huge manual efforts.
    			</li>
    			<li>
            Recognised as an emerging talent for ADCAT at HDFC Life Ltd.
    			</li>
		    </ul>
	    </div>
    </div>
  </div>
</section>
